

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0AB00C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.get_data_button {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.dataTables {
  width: 400 px;
  height: 50 px;
  border: 1px solid black;
}

 .map-container {
  height: 600px;
  width: 800px;
  } 

  .mapbar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 10;
    left: 20;
    margin: 12px;
    border-radius: 4px;
    }

    .marker {
      background-image: url('blueMarker.png');
      background-size: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
    }

    .mapboxgl-popup {
      max-width: 400px;
      font-size: larger;
      font-style: oblique;
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
